@model List<Mr_FixIt.Models.Ticket>

@{
    ViewBag.Title = "Tickets";
}

<h2>Your Tickets</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m[0].UpdatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(m => m[0].LocationOfTheReuqest)
        </th>
        <th>
            @Html.DisplayNameFor(m => m[0].NatureOfTicket)
        </th>
        <th>
            @Html.DisplayNameFor(m => m[0].PostedDate)
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationOfTheReuqest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NatureOfTicket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.ActionLink("View", "EditTicket", new { id = item.ID })
            </td>
        </tr>
    }

</table>