@model Mr_FixIt.Models.BulletinBoard

@{
    ViewBag.Title = "ViewBulletinBoard";
}

<h2>Bulletin Board</h2>

<div>
    <h4>BulletinBoard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Building.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEdited)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEdited)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>
    </dl>
</div>
