@model Mr_FixIt.Models.Ticket
@{
    ViewBag.Title = "CreateTicket";
}
@using System.Web.Mvc.Html;

<h2>Submit A Work Request</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">



        <div class="form-group">
            @*@Html.LabelFor(model => model.NatureOfTicket, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
            <h4>Nature Of The Work Request</h4>
                @Html.DropDownListFor(model => model.NatureOfTicket, new SelectList(new List<SelectListItem> {
                    new SelectListItem { Text = "Door", Value="Door"},
                    new SelectListItem { Text = "Electrical", Value="Electrical"},
                    new SelectListItem { Text = "Furnace", Value="Furnace"},
                    new SelectListItem { Text = "Pest Control", Value="Pest Control"},
                    new SelectListItem { Text = "Plumbing", Value="Plumbing"},
                    new SelectListItem { Text = "Window", Value="Window"},
            },"Text","Value"), new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NatureOfTicket, "", new { @class = "text-danger" })
            </div>
        </div>

        <div>
            <p> @Html.CheckBox("check") <h4>Check if you would like to receive text notifications for this request</h4> </p>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.LocationOfTheReuqest, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <h4>Location Of The Work Request</h4>
                @Html.EditorFor(model => model.LocationOfTheReuqest, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocationOfTheReuqest, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.AdditionalInformation, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                <h4>Additional Information</h4>
                @Html.TextAreaFor(model => model.AdditionalInformation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AdditionalInformation, "", new { @class = "text-danger" })
            </div>
        </div>

        @using (Html.BeginForm("UploadFile", "CreateRaces", "UploadFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div>
                @Html.TextBox("file", "", new { type = "file" }) <br />

                <input type="submit" value="Upload" />

                @ViewBag.Message

            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}