@model Mr_FixIt.Models.Ticket

@{
    ViewBag.Title = "DeleteTicket";
}

<h3>Confirm Deletion</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LocationOfTheReuqest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationOfTheReuqest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalInformation)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
